body{
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: myriadcond;
  src: url('myriadcond.otf');
}

@font-face {
  font-family: ubuntu;
  src: url('Ubuntu-R.ttf');
}

.left{
  display: inline-block;
  position: relative;
  width: 40%;
  min-width: 600px;
  padding-right: 30px;
  vertical-align: top;
  z-index: 1;
}

.right{
  position: relative;
  width: 50%;
  display: inline-block;
  z-index: 2;
}

.bgdiv{
  height: 100%;
  width: 100%;
  z-index: 0;
}

.bg{
  position: absolute;
  height: 50%;
  transform: translateY(-22px);
  z-index: 0;
  overflow: hidden;
}

.bio{
  width: 500px;
  background-color: #FFFFFF;
  padding: 30px;
  border: 2px solid black;
  border-radius: 50px;
  z-index: 2;
  margin: 20px auto;
}

.bio h1{
  font-family: myriadcond;
  font-size: 8em;
  line-height: 110%;
  margin: 0;
  text-align: left;
}

.bio p{
  font-family: ubuntu;
  font-size: 3ex;
}

.rs{
  width: 86px;
  display: inline-block;
  margin: 20px;
  padding-top: 20px;
  transition: filter 500ms;
  line-height: 0;
}

.rs a{
  padding: 0;
}

.rs:hover{
  filter: invert(100%);
}

.pop{
  pointer-events:none;
  font-family: ubuntu;
  display:inline;
  position:absolute;
  margin-top: 134px;
  margin-left: -135px;
  margin-right: 0;
  width: 128px;
  visibility: hidden;
  background-color: #FFFFFF;
  border: solid 2px black;
  padding: 5px;
  color: #000000;
  text-align: center;
  opacity:0;
  transition: opacity 200ms linear;
}

.right a:hover .pop{
  visibility: visible;
  z-index: 3;
  opacity: 0.95;
}
