html{
  padding-bottom: 455px;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@font-face{
  font-family: myriadcond;
  src: url('myriadcond.otf');
}

@font-face {
  font-family: ubuntu;
  src: url('Ubuntu-R.ttf');
}

ul{
  list-style: none;
}

.left{
  box-sizing: border-box;
  width: 40%;
  padding: 30px;
  padding-top: 6px;
  z-index: 1;
  margin: auto;
}

.right{
  box-sizing: border-box;
  width: 60%;
  min-width: 720px;
  z-index: 2;
  margin: auto;
}

.bio{
  width: 90%;
  background-color: #FFFFFF;
  padding: 30px;
  border: 2px solid black;
  border-radius: 50px;
  z-index: 2;
  margin: 20px auto;
}

.bio h1{
  font-family: myriadcond;
  font-size: 8em;
  line-height: 110%;
  margin: 0;
  text-align: left;
}

.bio p{
  font-family: ubuntu;
  font-size: 3ex;
}

.right ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.right ul li{
  margin: 20px;
  margin-top: 14px;
  width: 100px;
}

.rs{
  transition: filter 300ms;
  line-height: 0;
}

.rs:hover{
  filter: invert(100%);
}

.pop{
  pointer-events:none;
  font-family: ubuntu;
  display:inline;
  position:absolute;
  margin-top: 100px;
  margin-left: -122px;
  margin-right: 0;
  width: 128px;
  visibility: hidden;
  background-color: #FFFFFF;
  border: solid 2px black;
  padding: 5px;
  color: #000000;
  text-align: center;
  opacity:0;
  transition: opacity 200ms linear;
}

.right ul li:hover .pop{
  visibility: visible;
  z-index: 3;
  opacity: 0.95;
}
