#goTop{ /* Botón para volver al top */
    background-image: url('recursos/backtotop.png');
    padding: 5px;
    position: fixed;
    bottom: -100px;
    right: 20px;
    width: 54px;
    height: 54px;
}

#goTop:active{ /* Botón para volver al top presionado */
    background-image: url('recursos/backtotop_onclick.png');
    padding: 5px;
    position: fixed;
    bottom: -100px;
    right: 20px;
    width: 54px;
    height: 54px;
}

ul li{ /* Sacarle las viñetas a las listas */
    list-style: none;
}

p{ /* Fuente default de toda la web */
    font-family: Verdana;
}

body{ /* Fondo y sacarle el márgen y padding a toda la web */
    background-image: url('recursos/bgpattern.jpg');
    margin: 0;
    padding: 0;
}

strong, em, cite{ /* Strongs em y cites sin formato */
    font-weight: normal;
    font-style: normal;
}

q{ /* Quotes en itálica */
    font-style: italic;
}

acronym, abbr{ /* Acronimos y abreviaturas sin subrayado */
    text-decoration: none;
}

hr{ /* Sólo mostrar los hr cuando no haya CSS para separar diferentes secciones */
    display: none;
}

.imp{ /* Palabras importantes */
    font-weight: bold;
}

#header{ /* Posición y formato del header */
    background-color: #ead2ac;
    border-bottom: solid 3px #333333;
    border-left: solid 3px #333333;
    border-right: solid 3px #333333;
    padding: 0px 25px;
    width: 1044px;
    margin: auto;
}

h1{ /* Texto y background del header */
    font-family: Georgia;
    color: #2D3047;
    font-size: 80px;
    padding: 56px 50px 50px 0;
    margin: auto;
    width: 900px;
    background-image: url('recursos/header_img.png');
    background-repeat: no-repeat;
    background-position: center right;
}

#main{ /* Formato del cuerpo del contenido */
    background-color: #FFFFFF;
    width: 1000px;
    margin: 0 auto;
    padding: 30px 23px 50px 23px;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    border-bottom: 1px solid #000000;
}

#contenidos{ /* Caja de contenidos */
    border: 3px solid #000000;
    display: inline-block;
    margin-left: 40px;
}

#contenidos ul{ /* Sacarle padding y margen a la lista*/
    padding: 0;
    margin: 0;
}

#contenidos ul li a{ /* Contenido clickeable */
    font-family: Tahoma;
    font-size: 20px;
    text-decoration: none;
    line-height: 30px;
    border-top: 1px #585858 solid;
    display: block;
    padding: 6px 24px;
    color: #2D3047;
    transition: color .4s;
}

#contenidos ul li ul li a{ /* Subcontenido clickeable */
    font-size: 18px;
    text-indent: 14px;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 0px solid transparent;
}

#contenidos ul li a:hover{ /* Cambiar de color los links dentro del contenido al pasar el mouse*/
    color: #be6e46;
}

#imgbio{ /* Mostrar la primer imagen en una segunda columna */
    display:inline-block;
    vertical-align: top;
    padding-left: 57px;
    line-height: 0;
}

#imgbio img{ /* Borde de la imagen */
    border: 2px solid #000000;
}

.imgright{ /* Formato de las imágenes del main que aparecen a la derecha */
    float:right;
    padding: 5px;
    margin-top: 6px;
    border: 1px solid grey;
    line-height: 0;
    margin-right: 5px;
    margin-left: 10px;
}

.imgseparadora{ /* Formato de las imágenes del main que aparecen en el centro */
    padding: 5px;
    border: 1px solid grey;
    margin: auto;
    width: 900px;
    line-height: 0;
}

h2{ /* Títulos */
    font-family: Arial;
    font-size: 32px;
    padding-left: 40px;
    padding-top: 10px;
    margin-bottom: 10px;
}

h3{ /* Sub-títulos */
    font-family: Arial;
    font-weight: normal;
    font-size: 22px;
    padding-left: 40px;
    margin-top: 25px;
    margin-bottom: -10px;
}
#main p{ /* Texto del contenido principal */
    color: #585858;
    line-height: 170%;
    text-indent: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#fuentes{ /* Div fuentes */
    padding-bottom: 20px;
    border-bottom: solid 1px lightgrey;
}

#fuentes h2{ /* Título de las fuentes */
    font-size: 16px;
    padding-left: 0;
    color: #2d3047;
    border-top: solid 1px lightgrey;
}

#fuentes ol li a, ol li{ /* Links de las fuentes */
    font-family: verdana;
    font-size: 12px;
    text-decoration: none;
    line-height: 135%;
}

#footer{ /* Fondo y formato del footer (fondo) */
    background-color: #2d3047;
    border-top: 1px solid #000000;
    padding: 20px 0 20px 0px;
}

#footer div{ /* Ancho y centrado del contenido del footer */
    margin: auto;
    width: 1000px;
}

#footer div ul{ /* Formato de los datos */
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 300px;
    padding-top: 52px;
    font-family: arial;
    font-size: 26px;
    text-align: center;
    color: #ebebeb;
    line-height: 65px;
}

#footer div ul li{ /* Linea divisora de datos */
    border-bottom: 1px solid white;
}

#footer div ul li a{ /* Sacarle el formato al link del mail */
    text-decoration: none;
    color: #ebebeb;
}

#footer div ul li a:hover{ /* mail hover */
    color: #FFFFFF;
}

#footer div img{ /* Mi foto */
    display: inline-block;
    position: relative;
    border: 2px white solid;
    margin-bottom: 38px;
    margin-top: 35px;
    transition: transform 1500ms ease-out;
}

#footer div img:hover{ /* Mi foto hover */
  transform: rotate(360deg);
  transition: transform 1500ms cubic-bezier(.42, 0, .58, 1);
}
