@font-face {
  font-family: myriad;
  src: url('files/MYRIADPRO-COND.OTF');
}

@font-face {
  font-family: myriadtwo;
  src: url('files/MYRIADPRO-SEMIBOLD.OTF')
}

body{
  background-color: #F3F3F5;
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

.datos{
  width: 900px;
  min-width: 600px;
  margin: auto;
  margin-top: 3%;
}

.emi{
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(files/thinking.png);
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}

.bio>h2{
  margin: 0;
  margin-top: 10px;
  font-family: myriad;
  font-size: 4em;
}

.bio p{
  font-family: myriadtwo;
  font-size: 3ex;
}

.bio{
  display: inline-block;
  margin-left: 40px;
  width: 640px;
  vertical-align: top;
}

.rrss ul{
  max-width: 1060px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
}

.rrss li{
  margin: auto;
  padding: 5px;
  display: inline-block;
  animation: fadeInUp 1s 2s;
  animation-fill-mode: both;
}

.rs{
  width: 192px;
  filter: grayscale(0.2);
  transition: filter 200ms, transform 200ms;
}

.rs:hover{
  filter: grayscale(0);
  transform: scale(1.05);
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
