@font-face {
  font-family: myriad;
  src: url('files/MYRIADPRO-COND.OTF');
}

@font-face {
  font-family: myriadtwo;
  src: url('files/MYRIADPRO-SEMIBOLD.OTF')
}

.preload *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body{
  background-color: #F3F3F5;
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

.datos{
  min-width: 715px;
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-top: 3%;
  vertical-align: center;
}

.emi{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url(files/thinking.png);
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}

.bio>h2{
  margin: 0;
  margin-top: 10px;
  font-family: myriad;
  font-size: 4em;
  text-align: left;
}

.bio p{
  font-family: myriadtwo;
  font-size: 3ex;
  text-align: left;
}

.bio{
  display: inline-block;
  margin-left: 40px;
  width: 640px;
  vertical-align: top;
}

.rrss ul{
  max-width: 1060px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
}

.rrss li{
  margin: auto;
  padding: 5px;
  display: inline-block;
  animation: fadeInUp 1s;
  animation-fill-mode: both;
}

.rs{
  width: 192px;
  filter: grayscale(0.2);
  transition: filter 200ms, transform 200ms;
}

.rs:hover{
  filter: grayscale(0);
  transform: scale(1.05);
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
