body{
  margin: 0;
  padding: 0;
  background-color: #676862;
  background-image: url('rsc/bg.jpg');
}

@font-face {
  font-family: gidole;
  src: url('rsc/gidole.ttf');
}

@font-face {
  font-family: myriad;
  src: url('rsc/myriadreg.otf');
}

@font-face {
  font-family: myriadsemi;
  src: url('rsc/myriadsemi.otf');
}

@font-face {
  font-family: myriadcond;
  src: url('rsc/myriadcond.otf');
}

.semi{
  font-family: myriadsemi;
}

.cond{
  font-family: myriadcond;
}

#contenedor{
  width: 1200px;
  margin: 30px auto;
  background-color: #E5E8DA;
  border: 2px solid  #CCCEC2;
  -webkit-box-shadow: -9px -7px 16px -7px rgba(0,0,0,0.61);
  -moz-box-shadow: -9px -7px 16px -7px rgba(0,0,0,0.61);
  box-shadow: -9px -7px 16px -7px rgba(0,0,0,0.61);
  border-radius: 3px;
}

h1{
  margin-top: 50px;
  margin-bottom: 20px;
  background-image: url('rsc/bgestudios.png');
  background-repeat: no-repeat;
  line-height: 86pt;
  background-size: contain;
  background-position: -32px;
  font-family: gidole;
  font-size: 58pt;
  color: #E5E8DA;
  padding-left: 30px;
  margin-left: -2px;
}
