#lang img{
  margin-left: 3px;
}

#links{
  display: inline-block;
  width: 596px;
  vertical-align: top;
  margin-left: -4px;
}

#links h1{
  background-color: #BF4D5E;
  background-image: none;
  margin-top: 10px;
  line-height: 55px;
  padding-left: 30px;
  font-size: 38pt;
  margin-right: -10px;
  margin-left: -20px;
  border: 4px solid #BF4D5E;
  border-radius: 4px;
}

#links ul{
  list-style: none;
  margin-left: -30px;
}

#links ul li{
  display: inline-block;
  margin: 5px 14px 10px 0;
  padding-right: 0;
}

#links ul li a img{
  transition: transform 1s ease-out;
}

#links ul li a img:hover{
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

a .pop{
  pointer-events:none;
  font-family: myriad;
  display:inline;
  position:absolute;
  margin-top: 104px;
  margin-left: -150px;
  margin-right: 0;
  width: 160px;
  visibility: hidden;
  background-color: #FFFFFF;
  border: solid 2px #CCCEC2;
  border-radius: 15px;
  padding: 5px;
  color: #000000;
  text-align: center;
  opacity:0;
  transition: opacity 200ms linear;
}

a:hover .pop{
  visibility: visible;
  z-index: 3;
  opacity: 0.9;
}
