html {
	background: $primary;
}

body {
	min-height: 100vh;
}

body,
body * {
	font-family: $primaryFont;
	color: $textLight;
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	& > * {
		z-index: 1;
	}
}
